.numeric_values{


	font-size: 100px!important;
}

.para_values{
	font-size: 1.5vh;
	padding:3px;



}
.fa-cog{
	font-size: 1.5vh;
	padding-right: 12px;
}

.nav-link{
	color: white!important;

}