<div class="card">
<div class="card-header row">
<div class="col-md-4">
	<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Today
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		<button class="dropdown-item" type="button">Today</button>
		<button class="dropdown-item" type="button">Yesterday</button>
		<button class="dropdown-item" type="button">This Month</button>
		<button class="dropdown-item" type="button">Last Month</button>
		<button class="dropdown-item" type="button">This Year</button>
		<button class="dropdown-item" type="button">Last Year </button>
  </div>
</div>
</div>
<div class="col-md-8">
	
</div>
</div>	
<div class="card-body">
	<div class="container-fluid">
<div class="row">
<div class="col-md-6 text-center">
	<p>All Webistes</p>
	<div class="">
		
	</div>
</div>
<div class="col-md-6">
		<p>Social Media</p>
		<div class="">
			
		</div>
</div>		
	</div>	
</div>
</div>
</div>





<div class="container-fluid">
<div class="row">

	<div class="col-lg-6 col-sm-12">
		
	</div>

	<div class="col-lg-6 col-sm-12">
		
	</div>
		
	</div>	
</div>