
.nav-link{
	text-decoration: none!important;;
	font-weight: bold!important;;
	color: white!important;
}
a{
	text-decoration: none!important;;
	font-weight: bold!important;;
	color: white!important;
}